[   
    {
      "name": "postgress-db",
      "image": "registry.hub.docker.com/library/postgres:${pg-db-version}",
      "essential": true,
      "portMappings": [
        {
          "containerPort": 5432,
          "protocol": "tcp",
          "hostPort": 5432
        }
      ],
      "environment": [
        {
          "name": "POSTGRES_DB",
          "value": "${pg-db-name}"
        },
        {
          "name": "POSTGRES_PASSWORD",
          "value": "${pg-db-password}"
        }
      ],
      "mountPoints": [
        {
          "containerPath": "/var/lib/postgresql/data",
          "sourceVolume": "pg-data"
        }
      ],
      "healthCheck": {
        "command": [
          "date"
        ],
        "interval": 30
      },
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "${log-group}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "ecs"
        }
      }
    },
    {
      "name": "go-app-updatedb",
      "image": "594776659623.dkr.ecr.eu-west-1.amazonaws.com/dev-images:go-app-1.0.0-132",
      "essential": false,
      "environment": [
        {
          "name": "VTT_DBHOST",
          "value": "${pg-dbhost-name}"
        },
        {
          "name": "VTT_DBNAME",
          "value": "${pg-db-name}"
        },        
        {
          "name": "VTT_DBPASSWORD",
          "value": "${pg-db-password}"
        },
        {
          "name": "VTT_LISTENHOST",
          "value": "0.0.0.0"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "${log-group}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "ecs"
        }
      },
      "command": [
        "updatedb",
        "-s"
      ],
      "dependsOn": [
        {
          "containerName": "postgress-db",
          "condition": "HEALTHY"
        }
      ]
    },
    {
      "name": "go-app",
      "image": "594776659623.dkr.ecr.eu-west-1.amazonaws.com/dev-images:go-app-1.0.0-132",
      "essential": true,
      "environment": [
        {
          "name": "VTT_DBHOST",
          "value": "${pg-dbhost-name}"
        },
        {
          "name": "VTT_DBNAME",
          "value": "${pg-db-name}"
        },        
        {
          "name": "VTT_DBPASSWORD",
          "value": "${pg-db-password}"
        },
        {
          "name": "VTT_LISTENHOST",
          "value": "0.0.0.0"
        }
      ],
      "logConfiguration": {
        "logDriver": "awslogs",
        "secretOptions": null,
        "options": {
          "awslogs-group": "${log-group}",
          "awslogs-region": "eu-west-1",
          "awslogs-stream-prefix": "ecs"
        }
      },
      "command": [
        "serve"
      ],
      "healthCheck": {
        "command": [
          "curl",
          "-X",
          "GET",
          "http://localhost:3000/"
        ],
        "interval": 30
      },
      "portMappings": [
        {
          "hostPort": 3000,
          "protocol": "tcp",
          "containerPort": 3000
        }
       ],
       "dependsOn": [
        {
          "containerName": "go-app-updatedb",
          "condition": "SUCCESS"
        },
        {
          "containerName": "postgress-db",
          "condition": "HEALTHY"
        }
      ]
    }
  ]